*{
    margin: 0;
    padding: 0;
}

.logo_img
{
    width: 108px;
    height: 84px;
}

.header_options {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header_options ul {
    list-style-type: none;
    display: flex;
    gap: 32px;
}

.header_options ul li a {
    color: #1D2939;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

.header_options ul li a:hover {
    text-decoration: underline;
}

header {
    padding: 18px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #F2F4F7;
}

.get_early_btn {
    border: 1px solid #7F56D9;
    background-color: #7F56D9;
    color: white;
    border-radius: 8px;
    padding: 16px 28px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: all 1s ease;
}

.get_early_btn:hover {
    background-color: white;
    color: #7F56D9;
}

.intro_section {
    display: flex;
    margin: 96px 80px;
    align-items: center;
    gap: 20px;
}

.intro_heading {
    font-size: 60px;
    font-weight: 700;
    color: #101828;
}

.intro_heading span{
    color: #7F56D9;
}

.intro_text p {
    color: #667085;
    font-size: 24px;
    font-weight: 400;
}

.intro_para {
    margin: 24px 0px;
}

.btn_cont {
    margin-top: 48px;
}

.btn_cont button {
    border: 1px solid #6941C6;
    padding: 16px 28px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
}

.intro_img {
    width: 650px;
    height: auto;
}

.first_btn {
    background-color: #7F56D9;
    color: white;
    margin-right: 16px;
}

.second_btn {
    background-color: #6941c617;
    color: #6941C6;
}
